<!-- 
Name - Panther Epidemic
Date - 04/19/2019
Class - Software Development Methods and Tools
Author- Jenn Riley
-->

<% include ../partials/header %>
	
   
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }


    </style>
     <form class="form-signin" method="post">
    
	  <h1 class="h1 mb-4 font-weight-bold">CiteMe</h1>
	  <h2 class="h3 mb-3 font-weight-normal">Sign in</h2>

	  <form action="/" method="post">
	  
	  <label for="inputEmail" class="sr-only">Email address</label>
	  <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required autofocus>
	  
	  <label for="inputPassword" class="sr-only">Password</label>
	  <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
	   
	  <!--
	  <div class="checkbox mb-3">
		<label>
		  <input type="checkbox" value="remember-me"> Remember me | 
		</label>
		-->
		
		<!-- This goes no where, And nowhere is no place to be at!  --><!--	
			<a href="">Forgot Password?</a>
	  </div>
	-->

	  <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
	  <a class="btn btn-lg btn-primary" href="register">Register</a>
	  

	  <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
	</form>
	</form>
	<!-- Because we now use partials for our header, we can't directly add Boostrap Classes to our Body tag.
		 Below is a "work-around" to apply the Bootstrap classes when the page loads
	 -->
	<script type="text/javascript">
        function addCSSToBody() {
            document.body.classlist.add("center");
            document.body.classlist.add("text-center");
        }
        window.onload = addCSSToBody;

	</script>
<% include ../partials/footer %>