<!-- 
Name - Panther Epidemic
Date - 04/18/2019
Class - Software Development Methods and Tools
Author- Jenn Riley
-->


<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<br>
		<div class="row">
			<div class="col-4">
				<img class="rounded img-fluid" src="../resources/img/citeMeLogo.png" alt="citeMe Logo">
			</div>
			<div class="col-8">
				<div class="jumbotron">
				  <h1 class="display-4">Welcome to CiteMe!</h1>
				  <p class="lead">Your source for Citations & Bibliographies. Head over to CitationStation where you can store and edit all of your citations for any reseach project you are working on. But wait, there's more...... you can easily select which ones you would like to use and format them into MLA, APA or Chicago. >
									
				</div>
			</div>
		</div>
	</div>
  
<% include ../partials/footer %>

